#jqt > div {
	background-image: url("img/background.jpg") !important;
}

#jqt > div .toolbar {
	background-image: url("img/titlebar.jpg");
}

#jqt {
	background-image: url("img/background.jpg");
}

#jqt a.whiteButton {
	background-image: -webkit-linear-gradient(top, #3674a8, #123a5d);
	color: black;
	text-shadow: none;
}

.redfont { color: #a62220; }
