#jqt > div {
	background-image: url("img/background.jpg") !important;
}

#jqt > div .toolbar {
	background-image: url("img/titlebar.jpg");
}

#jqt {
	background-image: url("img/background.jpg");
}

#jqt a.whiteButton {
	background-image: -webkit-linear-gradient(top, #3674a8, #123a5d);
	color: black;
	text-shadow: none;
	text-transform: none;
}

.gamedate { color: #a62220; margin-left: 45px; }

#jqt .playerselect { text-transform: none; }
#jqt #teamlist li { text-transform: none; }
#jqt #gamelist li { text-transform: none; }
#jqt #basketballgame li { text-transform: none; }
#jqt #baseballgame li { text-transform: none; }

#jqt .button.selected { color: yellow; background-image: none; background-color: red; }
#jqt .button.quarter { width: 22%; position: relative; float: left; left: 0px;}
#jqt .button.ninth { width: 9.5%; position: relative; float: left; left: 0px;}
#jqt .inningwrap { margin: auto; }
