#jqt > div {
	background-image: url("img/background.jpg") !important;
}

#jqt > div .toolbar {
	background-image: url("img/titlebar.jpg");
}

#jqt {
	background-image: url("img/background.jpg");
}

#jqt a.whiteButton {
	background-image: -webkit-linear-gradient(top, #3674a8, #123a5d);
	color: black;
	text-shadow: none;
	text-transform: none;
}

.gamedate { color: #a62220; margin-left: 45px; }

#jqt .playerselect { text-transform: none; }
#jqt #teamlist li { text-transform: none; }
#jqt #gamelist li { text-transform: none; }
#jqt #basketballgame li { text-transform: none; }
#jqt #baseballgame li { text-transform: none; }

#jqt .quarter { width: 25%; }
